<h1>Register</h1>
<form enctype="multipart/form-data" method="POST" action="/register">
  <div class="form-group">
    <input class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <input class="form-control" name="firstname" placeholder="First Name">
  </div>
  <div class="form-group">
    <input class="form-control" name="lastname" placeholder="Last Name">
  </div>
  <div class="form-group">
    <input class="form-control" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="file" name="avatar">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="passwordConfirmation" placeholder="Password confirmation">
  </div>
  <button class="btn btn-primary">Submit</button>
</form>